* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --primary-dark: rgb(0, 0, 0);
  --bg-dark: #f9f9f9;
  --primary-light: #ffffff;
  --bg-Button: black;
  --color-button: white;
  --bg-light: rgb(2, 2, 2);
  --highlight: #00BEDB;
  --divider: rgb(164, 164, 164);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-dark);
  color: var(--primary-dark);
  transition: all 0.5s ease-in-out;
}

.light {
  background-color: var(--bg-light);
  color: var(--primary-light);
}

main {
  min-height: 80vh;
}

a,
p {
  font-size: 1.1rem;
}
