* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  margin-bottom: 2rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem;
  gap: 4rem;
  flex-wrap: wrap;
  margin-top: 50px;
}

footer div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

@media (max-width: 1200px) {
  footer {
    padding: 0 4rem;
    gap: 2rem;
  }
  footer div {
    flex-direction: row;
  }
}

@media (max-width: 770px) {
  footer {
    padding: 0 2rem;
    gap: 1rem;
  }
  
  footer > div {
    flex-direction: row;
    justify-content: center;
  }
}

footer > h2 {
  margin-bottom: 1rem;
}

button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e0e0e0;
}

button img {
  height: 24px;
  width: 24px;
}

@media (max-width: 770px) {
  footer {
    display: flex;
    justify-content: center;
  }
  button span {
    display: none;
  }
}
@media (max-width: 480px) {
  footer > div > a > h4 {
    display: none;
  }
  footer > div > a > img {
    display: inline-block;
  }
}
